[Unit]
Description=Talon observatory motor controller

[Service]
Type=exec
ExecStart=/usr/local/telescope/bin/csimcd
PIDFile=/usr/local/telescope/comm/csimcd.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target