[Unit]
Description=Observatory control software weather service, can interface with a variety of very old weather stations that no one makes anymore.

[Service]
Type=simple
ExecStart=rund telescoped
Restart=always

[Install]
WantedBy=multi-user.target