[Unit]
Description=Talon weather station

[Service]
Type=forking
ExecStart=/usr/local/telescope/bin/wxd -dls /usr/local/telescope/archive/logs/wx.log
Restart=always
RestartSec=5
PIDFile=/usr/local/telescope/comm/wxd.pid

[Install]
WantedBy=multi-user.target