# Virtual Camera configuration options
#
# read by vcam
#

# Camera ID string
$id = "VCam DSS-2 ST-ECF";

# maxen
$imw = 1764; 		# Max image size.
$imh = 1764;

# stsci values
$url = "http://archive.eso.org/dss/dss/image";

# binning
$maxbx = 1;		# binning is not allowed
$maxby = 1;

# fake temperature
$faketemp = -100;

# location for fitsnow stamp
$fitsnow = "$TELHOME/archive/fitsnow";

# location for downloaded file
$sfim = "$TELHOME/archive/vircamera.fit";

# err and trace log
$elog = "$TELHOME/archive/logs/vcam.log";

#####
# Format the request for use with ST-ECF
#

sub formatURLRequest()
{
    $rah    = $_[0];
    $ram    = $_[1];
    $ras    = $_[2];
    $dcd    = $_[3];
    $dcm    = $_[4];
    $dcs    = $_[5];
    $pixW   = $_[6];
    $pixH   = $_[7];
    $filter = $_[8];

    # determine survey according to filter
    if($filter eq "R") {
        $survey = "DSS2-red";        # DSS-II red
        $harcmin = 59.4;          # pixels per arcminute, horizontal
        $varcmin = 59.53333;	  # pixels per arcminute, vertical
    }
    elsif($filter eq "B") {
        $survey = "DSS2-blue";       # DSS-II blue
        $harcmin = 59.4;          # pixels per arcminute, horizontal
        $varcmin = 59.53333;	  # pixels per arcminute, vertical
    }
    elsif($filter eq "I") {
        $survey = "DSS2-infrared";   # DSS-II infrared
        $harcmin = 59.4;          # pixels per arcminute, horizontal
        $varcmin = 59.53333;	  # pixels per arcminute, vertical
    }
    else {
        $survey = "DSS1";            # DSS-I (clear)
        $harcmin = 35.316;          # pixels per arcminute, horizontal
        $varcmin = 35.316;	        # pixels per arcminute, vertical
    }

	# frame request
	my $hminrq = $pixW / $harcmin ;  #/ arc minutes horizontal requested
	my $vminrq = $pixH / $varcmin;  #/ arc minutes vertical requested


    my $rqst = sprintf("%s?ra=%02d%%20%02d%%20%02d"
                        ."&dec=%02d%%20%02d%%20%02d"
                        ."&equinox=J2000&name=&x=%.2f&y=%.2f"
                        ."&Sky-Survey=%s&mime-type=application%%2Fx-fits",
                      $url,
                      $rah,$ram,$ras,
                      $dcd,$dcm,$dcs,
                      $hminrq,$vminrq,
                      $survey);

}
